/*.wy-table-responsive table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}*/

.wy-table-responsive {
    overflow-x: auto;
}

.wy-table-responsive table {
    width: auto;
    min-width: 100%;
}